<ion-view title="Areas de Especialidad" id="page4" style="background-color:#FFF;">
    <ion-nav-bar class="bar">
        <ion-nav-back-button class="color button-icon icon ion-arrow-left-c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-nav-back-button>
    </ion-nav-bar>
    <style type="text/css">
        .bar{
          background-color: #00897B;
          color: #FFF;
        }
        .color{ color: #FFF; }
    </style>
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <ion-list id="areasDeEspecialidad-list5">
            <div class="item item-divider">
                Lista de Áreas de Especialidad
            </div>
            <ion-item ng-repeat="nombres in especialidad" class="item-icon-right" id="areasDeEspecialidad-list-item7" href="#/informacionE/{{nombres.IDAREA_ESPECIALIDAD}}">
                {{nombres.NOMBRE}}
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item ng-if="especialidad == null" class="item-icon-right" id="areasDeEspecialidad-list-item7">
                <strong>No existen resultados</strong>
                <i class="icon ion-close-circled"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
