<ion-view title="Ayuda" id="page9" style="background-color:#D8E9D5;">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <button class="button-icon icon ion-ios-arrow-back" ui-sref="inicio">
        Atras
      </button>
    </ion-nav-buttons>>
  </ion-nav-bar>
    <ion-content padding="true" style="background: url(img/fondo.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
            <img src="img/logoUNL.png" width="46%" height="46%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="ayuda-markdown1" style="color:#FFFFFF;font-size:19px;text-align:justify;">
            <p>
                <center><strong>IUS</strong></center>
            </p>

            <p>Es una aplicacion movil multiplataforma que brinda información de las
                <strong>Unidades de salud</strong>de la ciudad de Loja.</p>

            <p>
                <strong>&gt;</strong>El menu inicial, con el primer boton podra buscar el centro de salud mas cercano a su posision y obntener la informaciñon mas imprtante del mismo.</p>

            <p>
                <strong>&gt;</strong>El segundo boton permite buscar las especialidades que disponen todos los centros de salud, en el cual podra seleccionar o buscar uno del que de desee obtener información.</p>
        </div>
    </ion-content>
</ion-view>
