<ion-view title="Unidad de Salud" id="page3" style="background-color:#FFF;">
    <ion-nav-bar class="bar">
        <ion-nav-buttons side="left">
            <button class="button-icon icon ion-arrow-left-c" ng-click="atras();">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
    </ion-nav-bar>
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="item bar">
            <h2 class="titulo">
                <i class="ion-medkit"></i>
                {{datosUS.NOMBRE_OFICIAL}}
            </h2>
        </div>
        <div>
            <a style="display:block;" href="tel:">
                <img src="https://sius.000webhostapp.com/{{datosUS.FOTO}}" class="full-image" width="100%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <a href="#/areasEspecialidad/{{datosUS.IDUNIDADSALUD}}" id="infUS-button16" style="font-size:20px;border-radius:50px 50px 50px 50px;" class="button bar button-large button-block icon-right ion-briefcase">Áreas de Especialidad </a>
        <a href="#/servicios/{{datosUS.IDUNIDADSALUD}}" id="inicio-button14" style="font-size:20px;border-radius:50px 50px 50px 50px;" class="button bar button-large button-block icon-right ion-alert-circled">Servicios</a>
        <div>
            <style type="text/css">
                .bar{
                  background-color: #00897B;
                  color: #FFF;
                }
                .titulo{
                  text-align: center;
                  color:#FFF;
                  font-weight: bold;
                }
                table {
                    width: 100%;
                }
                th, td {
                    width: 35%;
                    text-align: center;
                    vertical-align: top;
                    border-collapse: collapse;
                    padding: 0.3em;
                    caption-side: bottom;
                    color: #000;
                    font-weight: bold;
                }
                .caption {
                    padding: 0.3em;
                    color: #fff;
                    background: #00897B;
                }
            </style>
            <table>
                <tbody>
                    <tr>
                        <td class="caption">&nbsp;Dirección</td>
                        <td class="caption">&nbsp;Sector</td>
                        <td class="caption">&nbsp;Teléfono</td>
                    </tr>
                    <tr>
                        <td>&nbsp;{{datosUS.DIRECCION}}</td>
                        <td ng-if="datosUS.LUCRO == 'NO DEFINIDO'">&nbsp;PÚBLICO</td>
                        <td ng-if="datosUS.LUCRO == 'SIN FINES DE LUCRO'">&nbsp;PÚBLICO</td>
                        <td ng-if="datosUS.LUCRO == 'CON FINES DE LUCRO'">&nbsp;PRIVADO</td>
                        <td ng-if="datosUS.TELEFONO == ''">&nbsp;No hay numero telefónico</td>
                        <td ng-if="datosUS.TELEFONO != ''">&nbsp;{{datosUS.TELEFONO}}</td>
                    </tr>
                </tbody>
            </table><br>
            <table>
                <tbody>
                    <tr>
                        <td class="caption">&nbsp;Provincia</td>
                        <td class="caption">&nbsp;Tipologia</td>
                        <td class="caption">&nbsp;Atención</td>
                    </tr>
                    <tr>
                        <td ng-if="datosUS.PROVINCIA == ''">&nbsp;No hay datos</td>
                        <td ng-if="datosUS.PROVINCIA != ''">&nbsp;{{datosUS.PROVINCIA}}</td>
                        <td>&nbsp;{{datosUS.TIPOLOGIA}}</td>
                        <td>&nbsp;{{datosUS.NIVEL_ATENCION}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ion-content>
</ion-view>
