<ion-view title="Resultado Busqueda" id="page18" style="background-color:#D8E9D5;">
  <ion-nav-bar class="bar-calm">
    <ion-nav-buttons side="left">
      <button class="button-icon icon ion-ios-arrow-back" ui-sref="buscarEspecialidades">
        Atras
      </button>
  </ion-nav-bar>
      <ion-content padding="true" style="background: url(img/fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="list" name="buscarM">
          <div class="item item-calm">
            <h2 style="color:#FFF;text-align:center;">
             <i class="ion-medkit"></i>
              Unidades de Salud que<br>disponen de <code>{{nombreE}}</code>
            </h2>
          </div>
        </div>
        <div class="list" >
          <div class="item item-divider">
            Lista de Centros de Salud
          </div>
          <a ng-repeat="data in datos" class="item item-thumbnail-left balanced" href="#/informacionResultadoBE/{{data.IDESPECIALIDAD}}">
            <img src="http://sius.tigrimigri.com/{{data.FOTO}}">
            <h4>{{data.NOMBRE_OFICIAL}}</h4>
            <p>Área: {{data.NOMBRE_AE}}</p>
            <p>Lucro: {{data.LUCRO}}</p>
            <p>Telefono: {{data.TELEFONO}}</p>
          </a>
          <ion-item ng-if="datos == null " class="item-icon-right balanced" id="areasDeEspecialidad-list-item7">
            <strong>No existen resultados</strong>
              <i class="icon ion-close-circled"></i>
          </ion-item>
        </div>
    </ion-content>
</ion-view>
